<plugin name='minified-resources' version='1.0 RC1' grailsVersion='1.2 &gt; *'>
  <author>&lt;a href="http://www.intelligrape.com/blog/author/himanshu/"&gt;Himanshu Seth&lt;/a&gt;</author>
  <authorEmail>himanshu@intelligrape.com</authorEmail>
  <title>YUI Minified Resources</title>
  <description>\
Minifies the css and js static resources using the Resources plugin framework. The minification process uses the
&lt;a href="http://yuilibrary.com/projects/yuicompressor/"&gt;YUI Compression&lt;/a&gt;(version 2.4.2) to compress the css and js files.
</description>
  <documentation>http://grails.org/plugin/yui-minified-resources</documentation>
  <resources>
    <resource>UrlMappings</resource>
    <resource>org.grails.plugin.minify.MinifyResourceMapper</resource>
    <resource>com.grails.plugin.resource.minify.MinifyService</resource>
  </resources>
  <dependencies>
    <plugin name='resources' version='1.0-alpha11 &gt; *' />
  </dependencies>
  <behavior />
</plugin>